/mooc-java-programming-i/part01-Part01_12.IntegerInput/target/
/mooc-java-programming-i/part01-Part01_16.SecondsInADay/target/
/mooc-java-programming-i/part01-Part01_21.AverageOfTwoNumbers/target/
/mooc-java-programming-i/part01-Part01_25.CheckYourIndentation/target/
/mooc-java-programming-i/part01-Part01_36.LeapYear/target/
/part03-Part03_32.PersonalDetails/target/
